* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.container {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}
.nav-container {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  /* height: 250px; */
  width: 100%;
}
.box1 {
  background-color: orange;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.box2 {
  display: flex;

  background-color: #1f2122;
  /* height: 100px; */
  padding: 15px;
}
.box3 {
  display: flex;
  background-color: #0072ab;
  height: 100px;
  flex-direction: column;
  justify-content: center;
}
.content-container {
  /* background-color: lightblue; */
  display: flex;
  padding: 15px;
}
.img-container {
  /* background-color: lightcyan; */
  flex-direction: column;
  display: flex;
  width: 33vw;
  height: 500px;
}
.pic-container {
  display: flex;
  flex-direction: row;
  /* background-color: #1f2122; */
  width: 100%;
  height: 280px;
}
.box4 {
  /* background-color: #82ca9c; */
  /* height: 280px; */
  /* width: 350px; */
  margin-right: 10px;
}
.box5 {
  /* background-color: #7da7d9; */
  /* height: 100px;
  width: 200px; */
  align-self: center;
}
.text-container {
  /* background-color: red; */
  display: flex;
  width: 34vw;
  padding: 0 40px 0 40px;
}
.box6 {
  /* background-color: #fbaf5d; */
  /* height: 700px; */
  width: 33vw;
}
.nav {
  color: white;
  text-decoration: none;
  font-weight: 20px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.form-container {
  display: flex;
  width: 33vw;
  /* background-color: #181a1b; */
}
.box7 {
  height: 800px;
}
.box8 {
  /* background-color: #7da7d9; */
  /* height: 100px;
  width: 200px; */
  margin-top: 10px;
}
h1 {
  margin-left: 20px;
  color: white;
}
h2 {
  padding-bottom: 10px;
  margin-left: 20px;
  color: white;
}
.lista {
  padding-bottom: 10px;
  color: #1f2122 !important;
}
li {
  margin-left: 30px;
  color: #1f2122;
}
.ipsum {
  margin-left: 25px;
  color: #1f2122;
}
.form-container {
  /* background-color: #181a1b; */
  display: flex;
  flex-direction: column;
}
.descriere {
  padding-bottom: 10px;
  color: #1f2122;
}

.proces-de-comanda {
  padding-bottom: 20px;
  /* color: white; */
  color: #1f2122;
}
ol {
  /* color: white; */
  /* padding-top: 10px; */
  padding-bottom: 20px;
}

.logo {
  align-self: center;
  width: 30px;
  height: 30px;
  /* margin-top: 20px;
  margin-left: 10px; */
}
.text-product {
  margin-left: 0;
  color: black;
}
.footer-container {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
  /* height: 2000px; */
}

.product-images {
  /* background-color: orange; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}
.form-text {
  color: #1f2122;
}
.footer-information {
  display: flex;
  flex-direction: row;
}
.text-container-footer {
  display: flex;
  padding: 20px;
  flex-direction: row;
  background-color: #6db188;
  /* border-right: 1px solid white; */
}
.footer-info-text {
  /* background-color: #6db188; */
  /* padding-top: 25px; */
  /* margin-left: 10px; */
  color: white;
  font-size: 30px;

  padding-right: 10px;
}

.footer-info-text2 {
  /* background-color: #6db188; */
  /* margin-left: 10px; */
  color: white;
  font-size: 15px;
  width: 900px;
  border-right: 1px solid white;
  /* padding-right: 10px;
  padding-top: 25px; */
}
.footer-tests-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: #6db188; */
  padding-left: 20px;
  padding-right: 10px;
  border-right: 1px solid white;
  /* padding-top: 25px; */
  width: 250px;
}
.testimonial-container {
  display: flex;
  flex-direction: row;
}
.testimonial {
  /* padding-top: 25px; */

  color: white;
}
.testimonial2 {
  /* padding-top: 25px; */

  color: white;
  font-weight: bold;
}
.clienti {
  padding: 20px;
  color: #1f2122;
}
.footer-newsletter-container {
  display: flex;
  flex-direction: column;
  background-color: #a3cf96;
  width: 100%;

  padding: 20px;
}
.newsletter {
  color: white;
  /* padding-left: 20px; */
}
.buton-de-abonare {
  background-color: #6db188;
  width: 115px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  margin: 20px 0 20px 0;
}
.buton-de-abonare:hover {
  background-color: #0072ab;
  cursor: pointer;
}
input {
  color: #1f2122;
}

.email-address-container {
  /* padding-top: 25px;
  padding-left: 30px; */
}
.email-input {
  margin-top: 20px;
  padding: 10px 0 10px 10px;
  width: 400px;
  font-family: "Poppins";
}
textarea {
  color: #1f2122;
}
*:focus {
  outline: none;
}
.footer-more-info {
  /* margin-left: 10px;
  padding-bottom: 20px; */
}
.footer-final-info {
  background-color: #003a59;
  display: flex;
  height: 100%;
  width: 100%;
}
.copyright {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}
.nav-list-footer {
  display: flex;
  justify-content: space-evenly;
}
.footer-nav {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
  list-style-type: none;
}
.footer-nav-2 {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
  list-style-type: none;
}
.footer-nav-3 {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
  list-style-type: none;
}
.product {
  height: 200px;
  width: 200px;
  /* padding: 5px; */
  border: 2px solid black;
}
.main-product1 {
  height: 280px;
  width: 350px;
}
.main-product2 {
  height: 200px;
  width: 200px;
}
.main-product3 {
  height: 200px;
  width: 200px;
}
.main-product-border {
  border: 2px solid #0072ab;
  border-radius: 5px;
}
img:hover {
  filter: opacity(75%);
  cursor: pointer;
}
